@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h2 class="ui header">@ViewData["Title"]</h2>
<h4 class="ui header">Enter your email</h4>
<hr />
<div class="ui form">
    <form method="post">
        <div asp-validation-summary="All" class="inline field"></div>
        <div class="field">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" type="email" />
           <span style="color:red;" asp-validation-for="Input.Email" class="inline field"></span>
        </div>
        <div class="field">
            <button type="submit" class="ui button">Submit</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
