@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<h2 class="ui header">@ViewData["Title"]</h2>
<div class="row">
    <section>
        <div class="ui form">
            <form id="account" method="post">
                <div class="field">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" type="email" />
                   <span style="color:red;" asp-validation-for="Input.Email" class="inline field"></span>
                </div>
                <div class="field">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" type="password" />
                   <span style="color:red;" asp-validation-for="Input.Password" class="inline field"></span>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input asp-for="Input.RememberMe" />
                        <label asp-for="Input.RememberMe">

                        </label>
                    </div>
                </div>
                <div class="field">
                    <button type="submit" class="ui button">Log in</button>
                </div>
                <div class="field">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <button type="submit" class="ui button" asp-page-handler="SendVerificationEmail">Resend email confirmation</button>
                    </p>
                </div>
            </form>
        </div>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
